<h3>Fiche de frais du mois {{nummois}}-{{numannee}} : </h3>
<div class="encadre"> 
    <p>
        Etat : {{libetat}} depuis le {{datemodif}} <br /> Montant validé : {{montantvalide}}
    </p>

     
    
    <table style="box-shadow: 1px 1px 3px #999; border-radius: 4px; min-width: 300px; margin-bottom: 30px">
        <caption style="font-weight: bold; text-align: left; font-size:18px;">Eléments forfaitisés</caption>
        <tr>
          {% for unfrais in lesfraisforfait %}
                  {% set libelle = unfrais.libelle%}
                <th style="padding:5px">{{libelle}} </th>
                  {% endfor %}
        </tr>
        <tr>
          {% for unfrais in lesfraisforfait %}
                  {% set quantite = unfrais.quantite%}
                        <td style="padding:0px 5px 5px 5px" >{{quantite}} </td>
                  {% endfor %}
       </tr>	
    </table>
</div>
