{# vue saisirfraisforfait.html.twig #}

<h2>Renseigner ma fiche de frais du mois {{nummois}} - {{numannee}} </h2>
<div class ='container'>
    <div class="row">
        <div class="col-lg-12">
            <form  action= "{{path('pg_gsb_frais_saisirfrais') }}" method ="POST">
                <div class="corpsForm">
                    <fieldset>
                        <legend>Eléments forfaitisés</legend>
                 {% for unfrais in lesfraisforfait %}
                    {% set idfrais = unfrais.idfrais%}
                    {% set libelle = unfrais.libelle%}
                    {% set quantite = unfrais.quantite%}
                        <p>
                            <label for="idFrais">{{libelle}}</label>
                            <input type="text" id="idFrais" name="lesFrais[{{idfrais}}]" size="10" maxlength="5" value="{{quantite}}" >
                        </p>
		{% endfor %}
                    </fieldset>
                </div>
                <div class="piedForm">
                    <p>
                        <input id="ok" class="btn btn-success btn-large"  type="submit" value="Valider" size="20" />
                        <input id="annuler" class="btn btn-danger btn-large" type="reset" value="Effacer" size="20" />
                    </p> 
                </div>
            </form>
        </div>
    </div>
</div>