{% extends "PgGsbFraisBundle::accueilCompta.html.twig" %}
 {% block section %}

<div id="contenu">
    <h2> Validation des frais </h2>

    <form method ="POST">
        <div class="corpsForm">
            <p>
                <label for="lstVisiteur" accesskey="n"> Choisir le visiteur : </label>
                <select id="lstVisiteur" name ="lstVisiteur" onChange="javascript:submit();">
                     {% set findVisiteur = "false" %}
                {% for unVisiteur in lesVisiteurs  %}
                         {% if findVisiteur != "true" %}
                        <option selected value =""></option>
                        {% set findVisiteur = "true" %}
                    {% endif %}
                    {% set visiteur=unVisiteur.id  %}
                    {% set nomVisiteur=unVisiteur.nom %}
                    {% set prenomVisiteur=unVisiteur.prenom  %}
             {%  if visiteur == leVisiteur %} 
                        <option selected value ="{{visiteur}}"> {{nomVisiteur}}/{{prenomVisiteur}}  </option>
                 {% set findVisiteur = "true" %}      
               {% else %}
                        {%  if nomVisiteur is not null %} 
                        <option value ="{{visiteur}}"> {{nomVisiteur}}/{{prenomVisiteur}}   </option>
                         {% endif %}
                     {% endif %}
                {% endfor %}
                    </select>
                </p>
            {% if leVisiteur is not null %}
                <p>
                    <label for="lstMois" accesskey="n"> Mois : </label>
                    <select id="lstMois" name ="lstMois" onChange="javascript:submit();">
                    {% set findMois = "false" %}
                {% for unMois in lesMois  %}
                             {% if findMois != "true" %}
                            <option selected value =""></option>
                             {% set findMois = "true" %}
                    {% endif %}
                    {% set mois=unMois.mois  %}
                    {% set numAnnee=unMois.numAnnee  %}
                    {% set numMois=unMois.numMois  %}
             {%  if mois == leMois %} 
                            <option selected value ="{{mois}}"> {{numMois}}/{{numAnnee}}  </option>
                    {% set findMois = "true" %}
                    {% else %}
                            <option value ="{{mois}}"> {{numMois}}/{{numAnnee}}  </option>
                     {% endif %}
                {% endfor %}

                        </select>
                    </p>
            {% endif %}
                    <p>

                    <div style="height: 1px; background-color: silver;
                         margin-left: 30px; margin-right: 30px; margin-bottom: 15px;"></div>
                         <div class="encadre"> 
{% if lesfraisforfait is not null %}
                                 <table style="box-shadow: 1px 1px 3px #999; border-radius: 4px; min-width: 300px; margin-bottom: 30px">
                                     <caption style="font-weight: bold; text-align: left; font-size:18px;">Frais au forfait :</caption>
                                     <tr>
          {% for unfrais in lesfraisforfait %}
                  {% set libelle = unfrais.libelle%}
                                             <th style="padding:5px">{{libelle}} </th>
                  {% endfor %}
                                                
                                             </tr>
                                             <tr>
          {% for unfrais in lesfraisforfait %}
                  {% set quantite = unfrais.quantite%}
                   {% set idfrais = unfrais.idfrais%}
                                                     <td style="padding-left:6px; padding-bottom: 5px; padding-right: 5px;" ><input type="text" id="txtFraisForfait" name="lesFrais[{{idfrais}}]" size="14" maxlength="256" value="{{quantite}}"  > </td>
 {% endfor %}
                                                        
                                                     </tr>

                                                 </table>
                                            {% endif %}
                                             </div>  
{% if lesfraishorsforfait is not null %}
                                             <div class="encadre"> 

                                                 <table style="box-shadow: 1px 1px 3px #999; border-radius: 4px; min-width: 300px;">
                                                     <captio style="font-weight: bold; text-align: left; font-size:18px;">Hors Forfait </caption>
                                                         <tr>
                                                             <th style="padding:5px">Date</th>
                                                             <th style="padding:5px">Libellé</th>
                                                             <th style="padding:5px">Montant</th>
                                                             <th style="padding:5px">Situation</th> 
                                                         </tr> 
                                                {% for unfrais in lesfraishorsforfait %}
                                                      {% set date = unfrais.date %}
                                                      {% set libelle = unfrais.libelle%}
                                                      {% set montant = unfrais.montant%}
                                                         <tr>
                                                             <td style="padding:5px"><input type="text" id="txtDateHF" name="txtDateHF" size="8" maxlength="256" value="{{date}}"></td>
                                                             <td style="padding:5px"><input type="text" id="txtLibelleHF" name="txtLibelleHF" size="36" maxlength="256" value="{{libelle}}"></td>
                                                             <td style="padding:5px"><input type="text" id="txtMontantHF" name="txtMontantHF" size="8" maxlength="256" value="{{montant}}"></td>
                                                             <td style="padding:5px">
                                                                 <select id="lstSitHF" name ="lstSitHF">
                                                                     <option value ="CL">Enregistré</option>
                                                                     <option value ="VA">Validé</option>
                                                                     <option value ="RB">Remboursé</option>
                                                                 </select>
                                                             </td>
                                                         </tr>
                                                     {% endfor %}
                                                 </table>

                                             </div>  
                                       {% endif %}

                                             </p>
                                         </div>
                                         <div class="piedForm">
                                             </p>
                                             <input id = "ok" class="btn btn-success btn-large" type="submit" value="Valider" name="valider" size = "20">
                                             <input id = "annuler" class="btn btn-danger btn-large" type="reset" value="Annuler" name="annuler" size = "20"> 
                                             </p>
                                         </div>  
                                     </form> 
                                 {% endblock %}
